{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="mPact Pro is setting the standard for HUD housing counseling CMS Systems"
    />

    <meta name="robots" content="index, follow" />
    <meta name="author" content="Ray Thurman" />
    <meta name="og:title" content="mPact Pro" />
    <meta
      name="og:description"
      content="mPact Pro is setting the standard for HUD housing counseling CMS Systems"
    />

    <title>mPact Pro</title>
    <base href="/" />
     <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'images/favicon.ico' %}"
    /> 
    <!-- Custom CSS -->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>

  <body>
    <div class="container-fluid px-0">
      <nav class="navbar container-fluid bg-success py-2">
        <div class="container">
            <a class="navbar-brand link-light" href="/">mPact Pro</a>
            <ul class="nav d-flex">
              {% if user.is_authenticated %}
              <li class="nav-item"><a class="nav-link link-light" href="{% url 'logout' %}">Logout</a></li>
              {% else %}
              <li class="nav-item"><a class="nav-link link-light" href="{% url 'login' %}">Login</a></li>
              <li class="nav-item"><a class="nav-link link-light" href="{% url 'register' %}">Register</a></li>
              {% endif %}
            </ul>
        </div>
      </nav>
      {% block content %}{% endblock %}
    </div>
    <!-- Footer -->
    <footer class="text-center py-4">
      <div class="container px-5 mb-2">
        Copyright &copy;
        <script>
          document.write(new Date().getFullYear());
        </script>
        mPact Pro
      </div>
    </footer>
    <!-- End Footer -->
  </body>
</html>
